.App{
  /* height: 100%; */
}
.ulContainer{
  display: flex;
  justify-content: center;
  color: white;
  z-index: 10;
  position: absolute;
  width: 100%;
  padding: 0;
  opacity: 0;
  align-items: center;
}
.liContainer{
  list-style: none;
  color: black;
  z-index: 10;
  margin: 10px;
  font-family: 'El Messiri', sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  height: 50px;
}
/* .liContainer:hover{
  color: #b7b7b7;
  text-decoration: underline;
  transition: all 400ms ease-in-out;
} */
.model{
  opacity: 0;
}
.title{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 2px;
  /* left: 50%; */
  /* transform: translate3d(-50%, 0, 0); */
  font-size: 2em;
  letter-spacing: 0.5em;
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'El Messiri', sans-serif;
}
.titleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  /* opacity: 0; */
  height: 4;
  background: #6a6a6a;
  width: 25px;
}

.secondSection{
  position: relative;
}
.content{
  position: absolute;
  bottom: 0;
}
.names{
  color: red;
}
.aglaea{
  position: absolute;
  top: 40%;
  left: 35px;
  font-size: 30px;
  color: white;
}
.thalia{
  position: absolute;
  top: 50%;
  left: 35px;
  font-size: 30px;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');